In [1]:
#Dependencies
import numpy as np
import pandas as pd

In [2]:
#Import Data

data_location = "NCHS_-_Leading_Causes_of_Death__United_States.csv"

#csv to pandas
data = pd.read_csv(data_location)

In [18]:
data.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1

In [19]:
data["Cause Name"].nunique()
data["Year"].nunique()

18

In [17]:
data["State"].nunique()

52

In [14]:
grouped_usa_df = data.groupby(['State'])
print(grouped_usa_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E9E93BEC50>